
<style>
.content{
  width: 1330px;
    display: block;
    margin: 0 auto;
    float: inherit;
}
</style>

<div class="content" role="main">
    <div class="card highlight-card card-small">
        <ag-grid-angular 
        style="width: auto; height: 500px;" 
        class="ag-theme-balham"
        [pagination]="true"
        rowSelection="multiple"
        [rowData]="rowData"
        [columnDefs]="columnDefs">
        </ag-grid-angular>
    </div>
</div>

<!-- <router-outlet></router-outlet> -->